extends layout

block content
  video#videoPlayer(class="video-js" controls autoplay  preload="none" width="720" height="540" data-setup="{}")
    source(src=videoSource, type='rtmp/mp4')
  p Stream:
    span#status
  p Viewers:
    span#viewercount
  button#halfres Half Resolution
  button#fullres Native Resolution
  if (streamKey == 'rack')
    button#watch Tell Dan to Start Streaming
  p
    button#setname Set Name
    span   Name:
    span#username
    ul#messages
      li Welcome To Dan Chat

    input(id="messageInput" autocomplete="off")
  script.
    window.streamKey = "#{streamKey}";
  script(src='https://vjs.zencdn.net/5.6.0/video.js')
  script(src='static/javascripts/bundle.js')



